<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Filmes Hall</title>

        <link rel="stylesheet" href="/sytyles.css">
    </head>

    <body>

        <header>

            <img src="/assets/logo.png" alt="Logo Filmes Hall" />

            <article class="links">

                <a href="/views/index.html">Início</a>
                <a href="/views/desc_mov.html">Descrições</a>
                <a href="/views/cur_mov.html">Curiosidades</a>
    
            </article>

        </header>

        <div class="title">

            <h1>Curiosidades dos filmes</h1>

        </div>

        <section class="movies">

            <article class="desc">

                <article class="movie">

                    <div class="card_image curiosite">
    
                        <img src="/assets/curio1.png" alt="Cartas do filme" />
                        
                    </div>
    
                    <div class="card_info">
    
                        <div class="card_title_desc">
    
                            <h2>Eddie e fracasso </h2>
        
                        </div>
    
                        <div class="desc">

                            <p>Eddie Murphy As Aventuras de Pluto Nash”, comédia estrelada pelo ator, que é considerada o maior fracasso de bilheteria da história do cinema.</p>

                        </div>

                    </div>
    
                </article>

            </article>

            <article class="desc">

                <article class="movie">

                    <div class="card_image curiosite">
    
                        <img src="/assets/curio2.png" alt="Cartas do filme" />
                        
                    </div>
    
                    <div class="card_info">
    
                        <div class="card_title_desc">
    
                            <h2>Senhor das mortes</h2>
        
                        </div>
    
                        <div class="desc">

                            <p>o filme que mais apresentou mortes na história do cinema foi a última parte da trilogia “O Senhor dos Anéis”.</p>

                        </div>

                    </div>
    
                </article>

            </article>

            <article class="desc">

                <article class="movie">

                    <div class="card_image curiosite">
    
                        <img src="/assets/curio3.png" alt="Cartas do filme" />
                        
                    </div>
    
                    <div class="card_info">
    
                        <div class="card_title_desc">
    
                            <h2>projetor</h2>
        
                        </div>
    
                        <div class="desc">

                            <p>Por ser muito comprido, um filme de duas horas é dividido em cinco ou seis rolos. Antigamente, dois projetores se revezavam – enquanto um rolo era projetado, o outro era carregado pelo operador.</p>

                        </div>

                    </div>
    
                </article>

            </article>

            <article class="desc">

                <article class="movie">

                    <div class="card_image curiosite">
    
                        <img src="/assets/curio4.png" alt="Cartas do filme" />
                        
                    </div>
    
                    <div class="card_info">
    
                        <div class="card_title_desc">
    
                            <h2>Pós-produção</h2>
        
                        </div>
    
                        <div class="desc">

                            <p>A montagem, colorização e efeitos especiais. É nesse momento que se trata o material bruto, livrando-se de cortes desnecessários</p>

                        </div>

                    </div>
    
                </article>

            </article>

            <article class="desc">

                <article class="movie">

                    <div class="card_image curiosite">
    
                        <img src="/assets/curio5.png" alt="Cartas do filme" />
                        
                    </div>
    
                    <div class="card_info">
    
                        <div class="card_title_desc">
    
                            <h2>Cinemas 3D!</h2>
        
                        </div>
    
                        <div class="desc">

                            <p>Seres humanos possuem visão binocular que é enganada, de modo que cada olho enxerga uma imagem diferente</p>

                        </div>

                    </div>
    
                </article>

            </article>

            <article class="desc">

                <article class="movie">

                    <div class="card_image curiosite">
    
                        <img src="/assets/curio6.png" alt="Cartas do filme" />
                        
                    </div>
    
                    <div class="card_info">
    
                        <div class="card_title_desc">
    
                            <h2>Direção </h2>
        
                        </div>
    
                        <div class="desc">

                            <p> A primeira coisa que se deve ter em mente antes de fazer qualquer vídeo é qual o objetivo do mesmo. Para atrair mais clientes</p>

                        </div>

                    </div>
    
                </article>

            </article>

        </section>
    </body>

</html>