<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Filmes Hall</title>

        <link rel="stylesheet" href="/sytyles.css">
    </head>

    <body>

        <header>

            <img src="/assets/logo.png" alt="Logo Filmes Hall" />

            <article class="links">

                <a href="/views/index.html">Início</a>
                <a href="/views/desc_mov.html">Descrições</a>
                <a href="/views/cur_mov.html">Curiosidades</a>
    
            </article>

        </header>

        <div class="title">

            <h1>Descrições dos filmes</h1>

        </div>

        <section class="movies">

            <article class="desc">

                <article class="movie">

                    <div class="card_image">
    
                        <img src="/assets/mulan.jpg" alt="Cartas do filme" />
                        
                    </div>
    
                    <div class="card_info">
    
                        <div class="card_title_desc">
    
                            <h2>Mulan</h2>
        
                        </div>
    
                        <div class="desc">

                            <p>A guerreira chinesa em "Mulan" arrisca a própria vida por amor à família e à pátria para se tornar uma das maiores guerreiras de toda a China.</p>

                        </div>

                    </div>
    
                </article>

            </article>

            <article class="desc">

                <article class="movie">

                    <div class="card_image">
    
                        <img src="/assets/black_widow.jpg" alt="Cartas do filme" />
                        
                    </div>
    
                    <div class="card_info">
    
                        <div class="card_title_desc">
    
                            <h2>Viúva negra</h2>
        
                        </div>
    
                        <div class="desc">

                            <p>Em Viúva Negra, após seu nascimento, Natasha Romanoff é dada à KGB, que a prepara para se tornar sua agente definitiva.</p>

                        </div>

                    </div>
    
                </article>

            </article>

            <article class="desc">

                <article class="movie">

                    <div class="card_image">
    
                        <img src="/assets/dolittle.jpg" alt="Cartas do filme" />
                        
                    </div>
    
                    <div class="card_info">
    
                        <div class="card_title_desc">
    
                            <h2>Dolittle</h2>
        
                        </div>
    
                        <div class="desc">

                            <p>O Dr. Dolittle vive com uma variedade de animais exóticos e conversa com eles diariamente.</p>

                        </div>

                    </div>
    
                </article>

            </article>

            <article class="desc">

                <article class="movie">

                    <div class="card_image">
    
                        <img src="/assets/brothers.jpg" alt="Cartas do filme" />
                        
                    </div>
    
                    <div class="card_info">
    
                        <div class="card_title_desc">
    
                            <h2>Dois Irmãos</h2>
        
                        </div>
    
                        <div class="desc">

                            <p>Em um mundo transformado, no qual as criaturas não dependiam mais da magia , dois irmãos elfos recebem um cajado de bruxo de seu falecido pai</p>

                        </div>

                    </div>
    
                </article>

            </article>

            <article class="desc">

                <article class="movie">

                    <div class="card_image">
    
                        <img src="/assets/scooby.jpg" alt="Cartas do filme" />
                        
                    </div>
    
                    <div class="card_info">
    
                        <div class="card_title_desc">
    
                            <h2>SCOOBY!</h2>
        
                        </div>
    
                        <div class="desc">

                            <p>"SCOOBY! O Filme" revela como os amigos de longa data, Scooby e Salsicha, se encontram pela primeira vez</p>

                        </div>

                    </div>
    
                </article>

            </article>

            <article class="desc">

                <article class="movie">

                    <div class="card_image">
    
                        <img src="/assets/bad_boys.jpg" alt="Cartas do filme" />
                        
                    </div>
    
                    <div class="card_info">
    
                        <div class="card_title_desc">
    
                            <h2>Bad boys</h2>
        
                        </div>
    
                        <div class="desc">

                            <p>Os policiais Mike Lowery e Marcus Burnett se juntam para derrubar o líder de um cartel de drogas em Miami.</p>

                        </div>

                    </div>
    
                </article>

            </article>

        </section>
    </body>

</html>