<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Filmes Hall</title>

        <link rel="stylesheet" href="/sytyles.css">
    </head>

    <body>

        <header>

            <img src="/assets/logo.png" alt="Logo Filmes Hall" />

            <article class="links">

                <a href="/views/index.html">Início</a>
                <a href="/views/desc_mov.html">Descrições</a>
                <a href="/views/cur_mov.html">Curiosidades</a>
    
            </article>

        </header>

        <div class="title">

            <h1>Os filmes do momento</h1>

        </div>

        <section class="movies">

            <article class="movie">

                <div class="card_image">

                    <img src="/assets/mulan.jpg" alt="Cartas do filme" />
                    
                </div>

                <div class="card_info">

                    <div class="card_title">

                        <h2>Mulan</h2>
    
                    </div>

                    <div class="whatch">

                        <a href="https://www.youtube.com/channel/UC2eb58Gxb613nJDjpuwWmgg" target="_blank">Trailer</a>
                        
                        <p>Disney</p>

                    </div>

                    <p>Março de 2020</p>

                </div>

            </article>

            <article class="movie">

                <div class="card_image">

                    <img src="/assets/black_widow.jpg" alt="Cartas do filme" />
                    
                </div>

                <div class="card_info">

                    <div class="card_title">

                        <h2>Viúva negra</h2>
    
                    </div>

                    <div class="whatch">

                        <a href="https://www.youtube.com/channel/UC2eb58Gxb613nJDjpuwWmgg" target="_blank">Trailer</a>
                        
                        <p>Disney</p>

                    </div>

                    <p>Novembro de 2020</p>

                </div>

            </article>

            <article class="movie">

                <div class="card_image">

                    <img src="/assets/dolittle.jpg" alt="Cartas do filme" />
                    
                </div>

                <div class="card_info">

                    <div class="card_title">

                        <h2>Dolittle</h2>
    
                    </div>

                    <div class="whatch">

                        <a href="https://www.youtube.com/channel/UC2eb58Gxb613nJDjpuwWmgg" target="_blank">Trailer</a>
                        
                        <p>Downey</p>

                    </div>

                    <p>Fevereiro de 2020</p>

                </div>

            </article>

            <article class="movie">

                <div class="card_image">

                    <img src="/assets/brothers.jpg" alt="Cartas do filme" />
                    
                </div>

                <div class="card_info">

                    <div class="card_title">

                        <h2>Dois Irmãos</h2>
    
                    </div>

                    <div class="whatch">

                        <a href="https://www.youtube.com/channel/UC2eb58Gxb613nJDjpuwWmgg" target="_blank">Trailer</a>
                        
                        <p>Disney</p>

                    </div>

                    <p>Março de 2020</p>

                </div>

            </article>

            <article class="movie">

                <div class="card_image">

                    <img src="/assets/scooby.jpg" alt="Cartas do filme" />
                    
                </div>

                <div class="card_info">

                    <div class="card_title">

                        <h2>SCOOBY!</h2>
    
                    </div>

                    <div class="whatch">

                        <a href="https://www.youtube.com/channel/UC2eb58Gxb613nJDjpuwWmgg" target="_blank">Trailer</a>
                        
                        <p>Atlas</p>

                    </div>

                    <p>Maio de 2020</p>

                </div>

            </article>

            <article class="movie">

                <div class="card_image">

                    <img src="/assets/bad_boys.jpg" alt="Cartas do filme" />
                    
                </div>

                <div class="card_info">

                    <div class="card_title">

                        <h2>Bad boys</h2>
    
                    </div>

                    <div class="whatch">

                        <a href="https://www.youtube.com/channel/UC2eb58Gxb613nJDjpuwWmgg" target="_blank">Trailer</a>
                        
                        <p>Sony</p>

                    </div>

                    <p>Janeiro de 2020</p>

                </div>

            </article>
            
        </section>

    </body>

</html>