<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Músicas Hall</title>

        <link rel="stylesheet" href="/sytyles.css">
    </head>

    <body>

        <header>

            <img src="/assets/logo.png" alt="Logo Filmes Hall" />

            <article class="links">

                <a href="/views/index.html">Início</a>
                <a href="/views/desc_mov.html">Descrições</a>
                <a href="/views/cur_mov.html">Curiosidades</a>
    
            </article>

        </header>

        <div class="title">

            <h1>História da música</h1>

        </div>

        <section class="movies">

            <article class="movie">

                <div class="card_image">

                    <img src="/assets/icon1.png" alt="Cartas do filme" />
                    
                </div>

                <div class="card_info">

                    <div class="card_title">

                        <h2>Começo</h2>
    
                    </div>

                    <div class="whatch">

                        <a href="https://www.youtube.com/watch?v=uePhIQs7DAU" target="_blank">Aula</a>
                        
                        <p>Pré-Hist</p>

                    </div>

                    <p>A História da música é muito antiga, visto que desde os primórdios os homens produziam diversas formas de sonoridade.</p>

                </div>

            </article>

            <article class="movie">

                <div class="card_image">

                    <img src="/assets/icon2.png" alt="Cartas do filme" />
                    
                </div>

                <div class="card_info">

                    <div class="card_title">

                        <h2>Desenvolv.</h2>
    
                    </div>

                    <div class="whatch">

                        <a href="https://www.youtube.com/watch?v=uePhIQs7DAU" target="_blank">Aula</a>
                        
                        <p>Pré-Hist</p>

                    </div>

                    <p>Ainda na pré-história, há mais de 50 mil anos, os seres humanos começaram a desenvolver ações sonoras baseadas na observação dos fenômenos da natureza.</p>

                </div>

            </article>

            <article class="movie">

                <div class="card_image">

                    <img src="/assets/icon3.png" alt="Cartas do filme" />
                    
                </div>

                <div class="card_info">

                    <div class="card_title">

                        <h2>Antiguidade</h2>
    
                    </div>

                    <div class="whatch">

                        <a href="https://www.youtube.com/watch?v=uePhIQs7DAU" target="_blank">Aula</a>
                        
                        <p>Egito</p>

                    </div>

                    <p>No Egito Antigo, ainda no século 4.000 a.C., a música era muito presente, configurando um importante elemento religioso.</p>

                </div>

            </article>

            <article class="movie">

                <div class="card_image">

                    <img src="/assets/icon4.png" alt="Cartas do filme" />
                    
                </div>

                <div class="card_info">

                    <div class="card_title">

                        <h2>Gréco-Romano</h2>
    
                    </div>

                    <div class="whatch">

                        <a href="https://www.youtube.com/watch?v=uePhIQs7DAU" target="_blank">Aula</a>
                        
                        <p>Clássico</p>

                    </div>

                    <p>A cultura musical na Grécia Antiga funcionava como uma espécie de elo entre os homens e as divindades.A "música" vem do grego mousikē "a arte das musas".</p>

                </div>

            </article>

            <article class="movie">

                <div class="card_image">

                    <img src="/assets/icon5.png" alt="Cartas do filme" />
                    
                </div>

                <div class="card_info">

                    <div class="card_title">

                        <h2>Idade Média</h2>
    
                    </div>

                    <div class="whatch">

                        <a href="https://www.youtube.com/watch?v=uePhIQs7DAU" target="_blank">Aula</a>
                        
                        <p>Religião</p>

                    </div>

                    <p>Durante a Idade Média a Igreja Católica esteve bastante presente na sociedade europeia e ditava a conduta moral, social, política e artística.</p>

                </div>

            </article>

            <article class="movie">

                <div class="card_image">

                    <img src="/assets/icon6.png" alt="Cartas do filme" />
                    
                </div>

                <div class="card_info">

                    <div class="card_title">

                        <h2>Atualidade</h2>
    
                    </div>

                    <div class="whatch">

                        <a href="https://www.youtube.com/watch?v=uePhIQs7DAU" target="_blank">Aula</a>
                        
                        <p>Mundo</p>

                    </div>

                    <p>No século XX, a música ganha nova roupagem e uma grande transformação ocorre com o surgimento do rádio.</p>

                </div>

            </article>
            
        </section>

    </body>

</html>